<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment app home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Sentiment/css/home.css' %}">
</head>
<body>
    <div class="division1">
        <h1 >Sentiment Analysis</h1>
    <form id="form1" action="{%url 'sentiment-home' %}" method="get">
        <textarea name="comment" id="comment" cols="60" rows="10"></textarea>
        <input type="submit" value="Submit" id="button1">
    </form>
    </div>

    <div class="division2">
        {{sample}} ---> {{pred_value}}%
    </div>
    
    
</body>
</html>